@model torre.Models.MapViewModel

<div class="row">
    <div id="map" class="map col-lg-12"></div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Home/Map/Index.js")"></script>
    <script>
        var viewModel =
            new torre.Home.Map.Index({ Latitude: @(Model.Center.Latitude), Longitude: @(Model.Center.Longitude) },
                @(Model.Zoom));
    </script>
}