@model torre.Models.Editor.EditorIndexModel

<div class="uk-card uk-card-default uk-card-body">
    <div class="uk-card-title">
        Editor
    </div>
    <div class="uk-card-body">
    </div>
</div>