<div id="properties" class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h4 class="uk-card-title">Properties</h4>
    </div>
    <div class="uk-card-body">
        <label>Name</label>
        <input class="uk-input" type="text" data-bind="textInput: name" />
        <label>Content</label>
        <textarea class="uk-textarea" rows="5" data-bind="textInput: content"></textarea>
        <div class="gap"></div>
        <button class="uk-button uk-button-small uk-button-default"
                data-bind="click: function() { this.saveProperties() }">
            Save
        </button>
    </div>
</div>