@model torre.Models.MarkerIndexModel

<div class="page-header">
    <a href="@Url.Action("Add", "Marker")" class="btn btn-default pull-right">
        <i class="fa fa-plus"></i>
    </a>
    <h3>Markers</h3>
</div>

<div class="container">
    <div class="row">
        @foreach (var marker in Model.Markers)
        {
            <div class="card col-md-4">
                <div class="card-block">
                    <div class="card-title">
                        @marker.Name
                    </div>
                </div>
            </div>
        }
    </div>
</div>