@model torre.Models.MarkerIndexModel

<div>
    <a href="@Url.Action("Add", "Marker")" class="uk-button uk-button-default uk-float-right">
        <i class="fa fa-plus"></i>
    </a>
    <h2 class="uk-heading-divider">Markers</h2>
</div>

<div class="row">
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        @foreach (var marker in Model.Markers)
        {
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-card-title">
                        @marker.Name
                    </div>
                    <div>
                        @marker.Longitude , @marker.Latitude
                    </div>
                </div>
            </div>
        }
    </div>
</div>